* {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
}

html {
  background: url(../img/bg.jpg) center/cover fixed;
}

body {
  margin: 0 100px;
}

header .header-top .header-1 {
  text-align: center;
  color: white;
}
header .header-top .header-1 h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
header .header-top .header-2 {
  margin: 100px 0;
}
header .header-top .header-2 nav ul {
  text-align: center;
}
header .header-top .header-2 nav ul li a i {
  font-size: 100px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header-top .header-2 nav ul li a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .header-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-botton .header-botton-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
header .header-botton .header-botton-1 button {
  padding: 10px;
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header-botton .header-botton-1 button a {
  color: white;
  font-size: 1rem;
}
header .header-botton .header-botton-1 button:hover {
  background: white;
}
header .header-botton .header-botton-1 button:hover a {
  color: black;
}
header .header-botton .header-botton-2 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
header .header-botton .header-botton-2 nav ul li a i {
  font-size: 20px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header-botton .header-botton-2 nav ul li a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main {
  background: white;
}
main .main-top .main-top1 {
  text-align: center;
  padding: 10px 50px;
}
main .main-top .main-top1 .main-top1l1 {
  position: relative;
  display: inline-block;
}
main .main-top .main-top1 .main-top1l1::before, main .main-top .main-top1 .main-top1l1::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 300px;
  height: 0.1px;
  background: black;
}
main .main-top .main-top1 .main-top1l1::before {
  left: -310px;
}
main .main-top .main-top1 .main-top1l1::after {
  right: -310px;
}
main .main-top .main-top1 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 20px;
}
main .main-ventre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-ventre .main-ventre1 {
  height: 400px;
  width: 70%;
  background: url(../img/pic01.jpg) center/cover;
  margin: 40px 0;
}
main .main-ventre .main-ventre2 {
  padding: 20px 0;
}
main .main-ventre .main-ventre2 button {
  padding: 10px 20px;
  background: none;
}
main .main-ventre .main-ventre2 button a {
  font-size: 1.2rem;
}
main .main-pied {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .main-pied .main-pied1 {
  border: 0.5px solid black;
}
main .main-pied .main-pied1 .main-pied11 {
  text-align: center;
}
main .main-pied .main-pied1 .main-pied12 {
  margin: 0 auto;
  height: 300px;
  width: 80%;
  background: url(../img/pic02.jpg);
}
main .main-pied .main-pied1 .main-pied13 {
  padding: 10px 40px;
}
main .main-pied .main-pied1 .main-pied13 p {
  font-size: 1.2rem;
}
main .main-pied .main-pied1 .main-pied14 {
  text-align: center;
}
main .main-pied .main-pied1 .main-pied14 button {
  margin: 40px;
  padding: 10px 20px;
  background: none;
}
main .main-pied .main-pied2 {
  border: 0.5px solid black;
}
main .main-pied .main-pied2 .main-pied21 {
  text-align: center;
}
main .main-pied .main-pied2 .main-pied22 {
  margin: 0 auto;
  height: 300px;
  width: 80%;
  background: url(../img/pic03.jpg);
}
main .main-pied .main-pied2 .main-pied23 {
  padding: 10px 40px;
}
main .main-pied .main-pied2 .main-pied23 p {
  font-size: 1.2rem;
}
main .main-pied .main-pied2 .main-pied24 {
  text-align: center;
}
main .main-pied .main-pied2 .main-pied24 button {
  margin: 40px;
  padding: 10px 20px;
  background: none;
}

footer {
  margin-top: 20px;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=style.css.map */